body {
    background-color: #D4D0ED; 
    font-family: "Arial Black", sans-serif;
    margin: 0px;
    padding: 0px;
}
            
header {
    margin: 20px;
    padding: 20px;
    background-color: #565560;
    color: white;
    text-align: center;
}

nav ul{
    position: fixed;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #565560;
    overflow: hidden;
    width: 100%;
}

nav li{
    float: left;
}

nav li a{
    color: white;
    display: block;
    padding: 15px 32px;
    text-align: center;
    font-size: 15px;
    text-decoration: none;
}

nav li a:hover{
    background-color: #ffffff;
    color: #565560;
}
        
section {
    background-color: #E4E0FD;
    color: #565560;
    margin: 10%;       
}

