/*Kyle Hovey CSS Stylesheet*/

/*Color Scheme: Light Navy: #021F59, Navy: #011640,
beigeish: #F2C185, Dark red:#590202, Red: #A60A0A*/

nav ul{
	margin: 0;
	padding: 0;
	background-color: #011640;
	text-align:center; 
}

nav li{
	display:inline-block;
	list-style: none;

}
 nav a{
 	display:inline-block;
 	text-align: center;
 	text-decoration: none;
 	text-transform: uppercase;
 	font-family: Verdana, sans-serif;
 	font-weight: bold;
 	color:#F2C185;
 	background-color:#A60A0A;
 	width:125px;
 	padding: 5px;
 	margin:5px;
 	border:outset 3px #F2C185;
 }