/*Kyle Hovey CSS Stylesheet*/

/*Color Scheme: Light Navy: #021F59, Navy: #011640,
beigeish: #F2C185, Dark red:#590202, Red: #A60A0A*/

nav ul{
	margin:0;
	padding: 0;
	background-color: #011640;
	text-align:center; 
}

nav li{
	display:inline-block;
	list-style: none;
}
 nav a{
 	display:inline-block;
 	text-align: center;
 	text-decoration: none;
 	text-transform: uppercase;
 	font-family: Verdana, sans-serif;
 	font-weight: bold;
 	color:#F2C185;
 	background-color:#A60A0A;
 	width:125px;
 	padding: 5px;
 	margin:5px;
 	border:outset 3px #F2C185;
 }

body{
	background-color: #590202;
	margin: 0;
}

 header{
 	background-color: #011640;
 	text-align:center;
 	font-family: Verdana, sans-serif;
 	font-weight: bolder;
 	margin:auto;
 	margin-top: 5px;
 	width:80%;
 }

 h1{
 	display: inline-block;
 	border:outset 5px #F2C185;
 	border-radius: 25px;
 	padding:10px;
 	background-color: #021F59;
 	color:#FFFFFF;
 	margin-left:10px;
 	margin-right:10px;
 }

 h2{
 	color:#FFFFFF;
 	margin-top:-10px;
 	padding-bottom: 20px;
 }
img{
	max-width: 100%;
}
 .vote{
 	float:right;
 	width:20%;
 }

 .main {
 width: 75%;
 background-color: #FFFFFF;
 padding:10px;
 font-family:Arial, sans-serif;
 font-size: 14px;
 }

 #john{
 	display:block; 
 	margin:auto; 
 	max-width:100%; 
 	border:double 5px #A60A0A;
 }